
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Inter:wght@400;700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Open+Sans&family=Outfit:wght@300;400;600&family=Poppins:wght@200;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {

    --color-soft-blue: hsl(215, 51%, 70%);
    --color-cyan: hsl(178, 100%, 50%);
    --color-hover-cyan: hsla(178, 100%, 50%, 0.4);

    --color-main-dark-blue: hsl(217, 54%, 11%);
    --color-card-dark-blue: hsl(216, 50%, 16%);
    --color-line-dark-blue: hsl(215, 32%, 27%);
    --color-White: hsl(0, 0%, 100%);

    --ff: "Outfit", serif;
    --fs: 18px;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 600;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: var(--ff);
    font-size: var(--fs);
    background-color: var(--color-main-dark-blue);
    min-height: 100vh;
    color: var(--color-White);
}

img {
    display: block; 
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    max-width: 350px;
    height: 600px;
    border-radius: 15px;
    padding: 24px;
    background-color: var(--color-card-dark-blue);
    box-shadow: rgba(0, 0, 0, 0.25) -10px 35px 30px;
}

.card {
    display: grid;
    place-items: center;
    align-items: center;
}

.token-img {
    max-width: 100%;
    border-radius: 8px;
}

.card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.card-hover {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-hover-cyan);
    border-radius: 8px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.2s ease-in;
}

.card-hover:hover {
    opacity: 1;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.item {
    padding-top: 8px;
}

.token-name {
    font-size: 1.38rem;
    margin-top: 20px;
    font-weight: var(--fw-bold);
    cursor: pointer;
}

.token-name:hover {
    color: var(--color-cyan);
}

.description {
    font-size: 1.10rem;
    color: var(--color-soft-blue);
    line-height: 1.6;
    font-weight: var(--fw-light);
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 20px;
}

.price {
    display: flex;
    align-items: center;
}

.time {
    display: flex;
    align-items: center;
}

h2 {
    color: var(--color-cyan);
    font-size: 1rem;
    padding-left: 8px;
    text-align:justify;
    font-weight: var(--fw-bold);
}

h3 {
    color: var(--color-soft-blue);
    font-size: 1rem;
    padding-left: 8px;
    text-align: justify;
    font-weight: var(--fw-regular);
}

.card-footer {
    margin-top: 5px;
    border-top: 1px solid var(--color-line-dark-blue);
    display: flex;
    padding-top: 5px;
    align-items: center;
}

.profile-pic {
    position: relative;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 2px solid var(--color-White);
    cursor: pointer;
}

.profile-pic:hover {
    border: solid 2px var(--color-cyan);
    transition: 0.2s ease-in;
}


.creator {
    font-size: 1.02rem;
    color: var(--color-soft-blue);
    padding-left: 16px;
}

span {
    color: var(--color-White);
}

span:hover {
    color: var(--color-cyan);
    transition: 0.1s ease-in;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {

    .content {
        width: 350px;
    }
}